<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Route</title>
</head>
<style>
    .fieldError {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<body>
<H1 align="center"><b>대중교통 길찾기</b></H1>

<div class="search box">
    <div class="container" style="max-width: 600px">
        <form action="/With-realTimeInfo" th:action="@{/With-realTimeInfo}" th:object="${searchLocationReq}" method="post">
            <div style="margin-bottom: 5px">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">출발지</span>
                    <input type="text" id="start" th:field="*{start}" class="form-control" placeholder="출발지" aria-label="start" aria-describedby="basic-addon1">
                </div>
                <div th:if="${errors?.containsKey('start')}" th:text="${errors['start']}"
                     th:class="${errors?.containsKey('start')} ? 'fieldError' : 'form-control'"
                     style="display:inline-flex">
                    출발지 입력 오류
                </div>
            </div>
            <div class="input-group" style="margin-bottom: 5px">
                <span class="input-group-text" id="basic-addon2">경유지</span>
                <input type="text" id="wayPoint" th:field="*{middle}" class="form-control" placeholder="경유지" aria-label="start" aria-describedby="basic-addon1">
            </div>
            <div style="margin-bottom: 5px">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">목적지</span>
                    <input type="text" id="end" th:field="*{end}" class="form-control" placeholder="목적지" aria-label="end" aria-describedby="basic-addon1">
                </div>
                <div th:if="${errors?.containsKey('end')}" th:text="${errors['end']}"
                     th:class="${errors?.containsKey('end')} ? 'fieldError' : 'form-control'">
                    목적지 입력 오류
                </div>
            </div>
            <button type="submit" class="btn btn-primary" th:onclick="">검색</button>
        </form>
    </div>
</div>

</body>
</html>